# Django settings
DEBUG=True
SECRET_KEY=<Provide unique secret key>
ALLOWED_HOSTS=localhost,127.0.0.1

# Database settings
DB_NAME=<DB Name>
DB_USER=<DB USERNAME>
DB_PASSWORD=<DB PASSWORD>
DB_HOST=localhost
DB_PORT=5432

# Email settings
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=example@example.com
EMAIL_HOST_PASSWORD=your_email_password
EMAIL_USE_TLS=True ALLOWED_HOSTS=localhost,127.0.0.1
