[Unit]
Description=VarAI Test Gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/VAR_AI/src
Environment="PATH=/root/VAR_AI/venv/bin"
ExecStart=/root/VAR_AI/venv/bin/gunicorn --config /root/VAR_AI/deployment/gunicorn/gunicorn_test.py varai.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target 