{% extends "base/base.html" %}
{% load i18n %}

{% block title %}{% trans "Delete Project" %}: {{ project.name }}{% endblock %}

{% block content %}
<div class="container py-4">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-body text-center">
					<h1 class="card-title mb-4">{% trans "Delete Project" %}</h1>
					
					<p class="lead mb-4">
						{% blocktrans with project_name=project.name %}
						Are you sure you want to delete the project "{{ project_name }}"?
						{% endblocktrans %}
					</p>
					
					{% if project.device_files.exists %}
					<div class="alert alert-warning">
						<i class="fas fa-exclamation-triangle"></i>
						{% blocktrans count counter=project.device_files.count %}
						This project has {{ counter }} device file that will also be deleted.
						{% plural %}
						This project has {{ counter }} device files that will also be deleted.
						{% endblocktrans %}
					</div>
					{% endif %}

					{% if project.reports.exists %}
					<div class="alert alert-warning">
						<i class="fas fa-exclamation-triangle"></i>
						{% blocktrans count counter=project.reports.count %}
						This project has {{ counter }} report that will also be deleted.
						{% plural %}
						This project has {{ counter }} reports that will also be deleted.
						{% endblocktrans %}
					</div>
					{% endif %}

					{% if project.child_projects.exists %}
					<div class="alert alert-danger">
						<i class="fas fa-exclamation-triangle"></i>
						{% blocktrans count counter=project.child_projects.count %}
						Warning: This project has {{ counter }} child project that will be orphaned.
						{% plural %}
						Warning: This project has {{ counter }} child projects that will be orphaned.
						{% endblocktrans %}
					</div>
					{% endif %}

					<form method="post">
						{% csrf_token %}
						<div class="d-flex justify-content-center gap-2">
							<a href="{% url 'projects:project-detail' project.pk %}" class="btn btn-secondary">
								<i class="fas fa-times"></i> {% trans "Cancel" %}
							</a>
							<button type="submit" class="btn btn-danger">
								<i class="fas fa-trash"></i> {% trans "Delete" %}
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} 